*{
    margin: 0px;
    padding: 0%;
    border:0px;
    box-sizing: border-box;
}

#fundo{
    position: relative;
    width:1000px;
    height: 700px;
    margin: auto;
}

#verde{
    position:relative;
    width: 1000px;
    height:120px;
    background-color: rgb(51, 177, 170);
    text-align: center;
    font-size:30px;
    padding: 35px;
    float:left;
}
#azul{
    position:relative;
    width: 1000px;
    height:420px;
    background-color: rgb(151, 167, 205);
    float:left;
}
#cinza{
    position:absolute;
    top: 120px;
    width: 770px;
    height:420px;
    left: 100px;
    background-color: rgb(139, 139, 139);
}
#rodape{
     position:relative;
    width: 1000px;
    height:40px;
    background-color: rgb(95, 174, 224);
    clear: left;
}
#branco1{
    position:absolute;
    top: 120px;
    width: 122px;
    height:100px;
    left: 874px;
    background-color: rgb(255, 255, 255);
}
#branco2{
    position:absolute;
    top: 225px;
    width: 122px;
    height:100px;
    left: 874px;
    background-color: rgb(255, 255, 255);
}
#camera{
    position: absolute;
    top: 423px;;
    left: 760px;

}
