#vermelha1{
    position: absolute;
    left: 260px;
    width: 1000px;
    height: 300px;
    background-color: rgb(241, 118, 118);
    text-align: center;
    z-index: 1;
}
#branco{  
    position: absolute;
    left: 260px;
    top: 308px;
    width: 1000px;  
    height: 650px;
    background-color: 
    rgb(241, 241, 241);
    text-align: center;
    z-index: 1;}

#branco2{

    position: absolute;
    top: 140px;
    left: 500px;
    width: 500px;
    height: 40px;
    background-color: rgb(233, 226, 226);
    text-align: center;
    z-index: 2;
}
#preto{
    position: absolute;
    top: 140px;
    left: 950px;
    width: 50px;
    height:40px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    z-index: 3;
}
 #cinza{
    position: absolute;
    top: 400px;
    left: 370px;
    width: 170px;
    height: 38px;
    background-color: rgb(175, 175, 175);
    text-align: center;
    z-index: 2;
}
 #cinza2{ 
    position: absolute;
    top: 400px;
    left: 990px;
    width: 170px;
    height: 38px;
    background-color: rgb(175, 175, 175);
    text-align: center;
    z-index: 2;
 }

 #cinza3{
    position: absolute;
    top: 400px;
    left: 575px;
    width: 170px;
    height: 38px;
    background-color: rgb(175, 175, 175);
    text-align: center;
    z-index: 2;
 }

 #cinza4{ 
    position: absolute;
    top: 400px;
    left: 785px;
    width: 170px;
    height: 38px;
    background-color: rgb(175, 175, 175);
    text-align: center;
    z-index: 2;
 }

 #vermelho2{

    position: absolute;
    top: 500px;
    left: 340px;
    width: 200px;
    height: 190px;
    background-color: rgb(241, 118, 118);
    text-align: center;
    z-index: 3;
 }
 #cinza5{
    position: absolute;
    top: 500px;
    left: 1000px;
    width: 200px;
    height: 390px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    z-index: 3;
 }
 #cinza6{
    position: absolute;
    top: 500px;
    left: 560px;
    width: 200px;
    height: 190px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    z-index:3;
 }

 #azul{
    position: absolute;
    top: 500px;
    left: 780px;
    width: 200px;
    height: 190px;
    background-color: rgb(102, 193, 254);
    text-align: center;
    z-index:3;
 }

 #azul2{
    position: absolute;
    top: 700px;
    left: 340px;
    width: 200px;
    height: 190px;
    background-color: rgb(102, 193, 254);
    text-align: center;
    z-index: 3;
 }

 #vermelho3{
    position: absolute;
    top: 700px;
    left: 560px;
    width: 420px;
    height: 190px;
    background-color: rgb(241, 118, 118);;
    text-align: center;
    z-index: 3;
 }