*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    width:80%;
    height:auto;
    margin: auto;
    top: 20px;
    background-color: rgb(103, 115, 115);
 }
 #cabecalho{
    position: relative;
    width: 100%;
    height: 125px;
    text-align: center;
    background-color: rgb(170, 255, 0);
    color: black;
    font-size: 40px;
    padding: 40px;
 }

#esquerdo{
    position: relative;
    width:29%;
    height:450px;
    background-color: rgb(122, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 17px;
    float: left;
}
#branco1{
    position: absolute;
    left: 18px;
    width: 320px;
    height: 200px;
    top: 142px;
    background-color: #ffffff;
}
 #branco2{
    position: absolute;
    left: 18px;
    width: 320px;
    height: 200px;
    top: 362px;
    background-color: #ffffff;
 }

 #direito{
    position: relative;
    width: 71%;
    height:450px;
    background-color:rgb(137, 49, 220);
    font-size: 18px;
    float: left;
 }
 #cinza{
    position: absolute;
    top:158px;
    left: 368px;
    width: 850px;
    height:417px;
    background-color:rgb(255, 255, 255);
    font-size: 16px;
 }
 #titulo{
    position: absolute;
    top:176px ;
    left:368px;
    width: 850px;
    font-size: 20px;
    text-align: center;
    background-color:rgb(122, 255, 255);
 }
 #vermelho{
    position: absolute;
    top:210px;
    left:368px;
    width: 850px;
    height: 130px;
    background-color: rgb(181, 89, 89);
    font-size: 15px;
    color: #ffffff;
 }
 #roxo{
    position: absolute;
    top:350px;
    left: 368px;
    width: 850px;
    height: 210px;
    font-size: 20px;
    background-color: rgb(193, 140, 244);
 }#rodape{
    top: 750px;
    background-color: rgb(72, 5, 5);
    color: #ffffff;
    font-size: 18px;
 }